* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.col, .col-between, .col-between-center, .col-between-end, .col-between-start, .col-around, .col-around-center, .col-around-end, .col-around-start, .col-center, .col-center-center, .col-center-end, .col-center-start, .col-end, .col-end-center, .col-end-end, .col-end-start, .col-start, .col-start-center, .col-start-end, .col-start-start {
  display: flex;
  flex-direction: column;
}
.col-start, .col-start-center, .col-start-end, .col-start-start {
  justify-content: flex-start;
}
.col-start-start {
  align-items: flex-start;
}
.col-start-end {
  align-items: flex-end;
}
.col-start-center {
  align-items: center;
}
.col-end, .col-end-center, .col-end-end, .col-end-start {
  justify-content: flex-end;
}
.col-end-start {
  align-items: flex-start;
}
.col-end-end {
  align-items: flex-end;
}
.col-end-center {
  align-items: center;
}
.col-center, .col-center-center, .col-center-end, .col-center-start {
  justify-content: center;
}
.col-center-start {
  align-items: flex-start;
}
.col-center-end {
  align-items: flex-end;
}
.col-center-center {
  align-items: center;
}
.col-around, .col-around-center, .col-around-end, .col-around-start {
  justify-content: space-around;
}
.col-around-start {
  align-items: flex-start;
}
.col-around-end {
  align-items: flex-end;
}
.col-around-center {
  align-items: center;
}
.col-between, .col-between-center, .col-between-end, .col-between-start {
  justify-content: space-between;
}
.col-between-start {
  align-items: flex-start;
}
.col-between-end {
  align-items: flex-end;
}
.col-between-center {
  align-items: center;
}

.row, .row-between, .row-between-center, .row-between-end, .row-between-start, .row-around, .row-around-center, .row-around-end, .row-around-start, .row-center, .row-center-center, .row-center-end, .row-center-start, .row-end, .row-end-center, .row-end-end, .row-end-start, .row-start, .row-start-center, .row-start-end, .row-start-start {
  display: flex;
  flex-direction: row;
}
.row-start, .row-start-center, .row-start-end, .row-start-start {
  justify-content: flex-start;
}
.row-start-start {
  align-items: flex-start;
}
.row-start-end {
  align-items: flex-end;
}
.row-start-center {
  align-items: center;
}
.row-end, .row-end-center, .row-end-end, .row-end-start {
  justify-content: flex-end;
}
.row-end-start {
  align-items: flex-start;
}
.row-end-end {
  align-items: flex-end;
}
.row-end-center {
  align-items: center;
}
.row-center, .row-center-center, .row-center-end, .row-center-start {
  justify-content: center;
}
.row-center-start {
  align-items: flex-start;
}
.row-center-end {
  align-items: flex-end;
}
.row-center-center {
  align-items: center;
}
.row-around, .row-around-center, .row-around-end, .row-around-start {
  justify-content: space-around;
}
.row-around-start {
  align-items: flex-start;
}
.row-around-end {
  align-items: flex-end;
}
.row-around-center {
  align-items: center;
}
.row-between, .row-between-center, .row-between-end, .row-between-start {
  justify-content: space-between;
}
.row-between-start {
  align-items: flex-start;
}
.row-between-end {
  align-items: flex-end;
}
.row-between-center {
  align-items: center;
}

.ml-1 {
  margin-left: 5px;
}
.mr-1 {
  margin-right: 5px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-3 {
  margin-right: 15px;
}
.mr-4 {
  margin-right: 20px;
}
.m-auto {
  margin: auto;
}

.nowrap {
  flex-wrap: nowrap;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}
.h-50 {
  height: 50%;
}
.h-75 {
  height: 75%;
}
.h-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.rounded {
  border-radius: 6px;
}

.shadow {
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -o-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.hli-2-0 {
  width: 50vw;
}
.hli-3-0 {
  width: 33.3333333333vw;
}
.hli-3-1 {
  width: 32.6666666667vw;
}
.hli-3-1:nth-child(3n+2) {
  margin-left: 1vw;
  margin-right: 1vw;
}
.hli-4-0 {
  width: 25vw;
}
.hli-4-1 {
  width: 24.25vw;
}
.hli-4-1:not(:nth-child(4n+4)) {
  margin-right: 1vw;
}
.hli-4-1:not(:last-child) {
  margin-right: 1vw;
}

/*# sourceMappingURL=aurore.css.map */
